# Created by Roo - Standard Flutter ignores (could not fetch official template)
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.vscode/
.roo/
.idea/
docs/
build/
*.iml
local.properties
.gradle/
android/gradlew
android/gradlew.bat
android/gradle/wrapper/gradle-wrapper.jar
ios/.symlinks/
ios/Flutter/AppFrameworkInfo.plist
ios/Flutter/Debug.xcconfig
ios/Flutter/Release.xcconfig
ios/Pods/
ios/.ios-plugins
windows/flutter/ephemeral/
linux/flutter/ephemeral/
macos/Flutter/ephemeral/
web/flutter_service_worker.js
web/canvaskit/
web/assets/AssetManifest.json
web/assets/FontManifest.json
web/assets/NOTICES

# Crashlytics
android/crashlytics-build.properties
ios/Runner/GoogleService-Info.plist