:host {
  display: flex;
  flex-direction: column;
  width: 200px;
  transition: width 0.2s;
}

:host.collapsed {
  width: 48px;
}

mat-nav-list {
  flex: 1;
  padding-top: 0;

  .mat-mdc-list-item {
    border-radius: 0 24px 24px 0;
  }
}

.active {
  background-color: var(--mat-sys-secondary-container);
  color: var(--mat-sys-on-secondary-container);
}

.toggle-btn {
  display: flex;
  align-items: center;
  padding: 12px 16px;
  cursor: pointer;

  mat-icon {
    margin-right: 16px;
  }
}

:host.collapsed .toggle-btn mat-icon {
  margin-right: 0;
}
