:host {
  display: flex;
  align-items: center;
  padding: 0 16px;
  gap: 16px;
}

img {
  width: 24px;
  height: 24px;
}

h1 {
  margin: 0;
  font-size: 20px;
  font-weight: 500;
  white-space: nowrap;
}
